/* Landing page styling! */
.center-elem{
    height: 45vh;
    
}
.center-elem img{
    width: 50%;
    margin-left: 24%;
}
.center{
    /* margin-left: 40%; */
    width: 100%;
    margin-left: 25%;
    
    
}

.btn, .form-control{
    border-radius: 0 !important;
    
}
.form-control, .or{
    text-align: center;
}

/* End of first page styling. */




/* First Page responsiveness styling */
@media screen and (min-width: 500px){
    .center-div{
        margin-left: 37%;
    }
    .center{
        margin-left: 0%;

    }
    .center-elem img{
        width: 30%;
        margin-left: 4%;
    }
    
}

/* This is the end of landing page styling. */

