{% extends 'base.html' %}

{% block content %}

<head>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<div class="main-game">
    <div class="game">
        <div class="game-area">
            <button class="btn btn-one game-btn"></button>
            <button class="btn btn-two game-btn"></button>
            <button class="btn btn-three game-btn"></button>
            <button class="btn btn-four game-btn"></button>
            <button class="btn btn-five game-btn"></button>
            <button class="btn btn-six game-btn"></button>
            <button class="btn btn-seven game-btn"></button>
            <button class="btn btn-eight game-btn"></button>
            <button class="btn btn-nine game-btn"></button>
        </div>
        <div class="player-area">
            <div class="container-audio">
                <div data-video="https://www.youtube.com/watch?v=83xBPCw5hh4&list=PLDIoUOhQQPlXr63I_vwF9GD8sAKh77dWU"
                    data-autoplay="0" data-loop="1" id="youtube-audio">
                </div>
                <script src="https://www.youtube.com/iframe_api"></script>
                <script src="https://gist.github.com/sarmadgardezi/a0db67456d6849bf5697bcf290f5d84a.js"></script>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
{% endblock %}