{% extends 'base.html' %}

{% block content %}

<head>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<div class="main-game">
    <div class="game">
        <div class="game-area">
            <button class="btn button1 game-btn"></button>
            <button class="btn button2 game-btn"></button>
            <button class="btn button3 game-btn"></button>
            <button class="btn button4 game-btn"></button>
            <button class="btn button5 game-btn"></button>
            <button class="btn button6 game-btn"></button>
            <button class="btn button7 game-btn"></button>
            <button class="btn button8 game-btn"></button>
            <button class="btn button9 game-btn"></button>
        </div>
    </div>
    
    <div class="share-link">
        http://127.0.0.1:5000/_e8kypkg3s

    </div>
    <div class="player-area">
        
        <audio controls></audio>
    </div>
    <div class="footer"></div>
</div>
{% endblock %}