{% extends 'base.html' %} {% import 'macros.html' as macro %}
<!-- content -->
{%  block scripts%}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename = 'js/index.js') }}"></script>
{%  endblock %}
{% block content %}
<div class="container-fluid">
    <div class="center-elem">
        <div class="row">
            <div class="col center-div mt-5">
                <img src="{{url_for('static', filename = 'images/tic.png')}}" alt="Tic pic" class="center">
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-8 col-sm-3 center-div mb-4">
            <input type="text" name="game-id-input-name" id="game-id-input" placeholder="Enter Game ID" class="center form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-8 col-sm-3 center-div mb-4">
           <button class="btn btn-danger center">Join Game</button>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-sm-3 center-div mb-2">
            <p class="center or">or</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-sm-3 center-div">
            <form action="/" method="post">
                <input class="btn btn-primary center" type="submit" name="newGame" value="Start your Game"/>
            </form>
        </div>
    </div>

</div>
{% endblock %}